@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root {
    /*
    Header height
    */
    --header-height: 3rem;
    /* 
    Primary color
    */
    --first-color: hsl(220, 100%, 65%);
    /* 
    Secondary color 
    */
    --first-color-second: hsl(220, 69%, 61%);
    /* 
    First color lighter 
    */
    --first-color-lighter: hsl(220, 69%, 61%);
    /* 
    First color lighter dark
    */
    --first-color-lighter-dark: #292523;
    /* 
    Article title color
    */
    --article-title-color: #363978;
    /* 
    Home title color
    */
    --home-title-color: #45423C;
    /* 
    Title color
    */
    --title-color: #292523;
    /* 
    Text color
    */
    --text-color: #7c706a;
    /* 
    Text color light
    */
    --text-light-color: #ada39f;
    /* 
    Body text color
    */
    --body-color: #fefcfb;
    /*
    Content text color
    */
    --content-text-color: black;
    /*========== FONT & TYPORGRAPHY ==========*/
    /* 
    Body font
    */
    --body-font: 'Ubuntu', sans-serif;
    /* 
    Second font
    */
    --second-font: 'Ubuntu', sans-serif;
    /*
    Home title font size 
    */
    --home-title-font-size: 2rem;
    /* 
    H1 font size
    */
    --h1-font-size: 1.5rem;
    /* 
    H2 font size
    */
    --h2-font-size: 1.25rem;
    /* 
    H3 font size
    */
    --h3-font-size: 1.125rem;
    /* 
    Normal font size
    */
    --normal-font-size: 0.9rem;
    /* 
    Small font size
    */
    --small-font-size: .813rem;
    /* 
    Smaller font size
    */
    --smaller-font-size: .75rem;
    /*========== FONT WEIGHT ==========*/
    --font-500: 500;
    --font-600: 600;
    --font-700: 700;
    --font-800: 800;
    /*========== MARGINS ==========*/
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    /*========== Z INDEX ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*========== FONT SIZE FOR LARGER SCREENS ==========*/
@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 5rem;
        --bigger-font-size: 4rem;
        --home-title-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== BASE ==========*/
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-color);
    font-size: var(--normal-font-size);
    color: var(--content-text-color);
    font-family: var(--body-font);
}

@media screen {

    .margin-box {
        display: none;
    }

    body {
        line-height: var(--layout-default-line-height);
        margin: 3em 0;
        margin-bottom: 5em;
    }
}

@media print {

    .profiles,
    .basics {
        display: none;
    }

    .pagedjs_margin {
        font-size: 3.5mm;
    }
}

.margin-box {
    font-size: 3.5mm;
}

.available-from-print .icon {
    margin-top: 1.5mm;
    margin-left: 1.5mm;
    font-size: 2mm;
    position: absolute;
}

.available-from-print.now-available-yes i {
    color: green;
}

.available-from-print.now-available-no i {
    color: red;
}

.counter-reset {
    counter-reset: page 1;
}

::-moz-selection {
    background: #5e5e5e;
    color: white;
}

::selection {
    background: #5e5e5e;
    color: white;
}

h1, h2, h3, ul, p {
    margin: 0;
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-600);
}

h4 {
    font-weight: var(--font-600);
    font-size: var(--h1-font-size);
    color: var(--text-light-color);
    margin: var(--mb-1-5) 0 0;
}

ul {
    padding: 0;
}

li {
    margin-left: 2rem;
    list-style: circle;
}

a {
    color: var(--content-text-color);
    text-decoration: none;
}

/*========== SECTION ==========*/
section {
    padding: 2rem 0 2rem;
}

.section__title {
    position: relative;
    font-size: var(--h1-font-size);
    color: var(--article-title-color);
    font-weight: var(--font-700);
    text-transform: uppercase;
    margin-bottom: var(--mb-1-5);
}

/*========== ARTICLE ==========*/
article {
    position: relative;
}

article:not(.two-column) {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

article.two-column .right {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-grow: 1;
}

article.two-column {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

article.two-column--date .left {
    flex-basis: 5.5em;
    flex-grow: 0;
    flex-shrink: 0;
}

article.two-column--date .left .date {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.article__date--horizontal {
    display: flex;
    flex-direction: row;
    gap: 0.7em;
}

.article__title {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: var(--font-600);
    font-size: var(--h2-font-size);
}

.article__list .item__value {
    page-break-inside: avoid;
}

.article__subtitle {
    font-weight: var(--font-700);
    font-size: var(--h3-font-size);
    font-family: var(--second-font);
    color: var(--home-title-color);
}

.article-head {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.article-logo img {
    width: 4em;
}

.article-logo {
    padding-right: 10px;
}

.article__list {
    display: flex;
    flex-direction: row;
}

.article__list label {
    width: 100px;
}

.article__list ul {
    flex-grow: 1;
}

.article__list li {
    margin: 0;
}

.article__list.skills li {
    list-style-type: none;
    display: inline;
}

.article__list.skills li:not(:empty):not(:last-child):after {
    content: ", ";
}

.article__url {
    color: #7F7D7B;
}

.article__description {
    margin-top: var(--mb-1);
}

/*========== LAYOUT ==========*/
.grid {
    display: -ms-grid;
    display: grid;
    gap: var(--mb-3);
}

.s-grid {
    display: -ms-grid;
    display: grid;
    gap: var(--mb-1);
}

.a-grid {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    color: var(--first-color-lighter-dark);
    gap: var(--mb-1);
}

.container {
    /* max-width: 968px; */
    max-width: 1024px;
    width: calc(100% - 3rem);
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.main {
    padding: var(--mb-1);
}

.wrapper {
    margin: var(--mb-1-5) 0;
}

.hide {
    display: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/*========== HOME SECTION ==========*/
.home__title {
    font-size: var(--home-title-font-size);
    font-weight: var(--font-800);
    line-height: 1.2;
    margin-top: var(--mb-1);
}

.home__subtitle {
    font-weight: 600;
    font-size: var(--h3-font-size);
    line-height: 1;
    margin-top: var(--mb-0-5);
}

.home__description {
    margin-top: var(--mb-1);
}

/*========== LANGUAGES ==========*/
.languages .article-container {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}

.languages .article-container article {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    margin-bottom: 0.5cm;
}

/*========== PROFILES ==========*/
.profiles .article-container {
    display: flex;
    flex-direction: row;
    column-gap: 2em;
}

.profiles .icon {
    font-size: 1.5em;
    color: var(--icon-social-color);
}

/*========== ICONS ==========*/
.icon {
    font-style: normal;
    margin-right: 0;
    color: var(--icon-color);
}

.icon.twitter:before {
    content: "\f099";
}

.icon.github:before {
    content: "\f09b";
}

.icon.facebook:before {
    content: "\f39e";
}

.icon.instagram:before {
    content: "\f16d";
}

.icon.xing:before {
    content: "\f168";
}

.icon.behance:before {
    content: "\f39e";
}

.icon.dribbble:before {
    content: "\f17d";
}

.icon.medium:before {
    content: "\f23a";
}

.icon.linkedin:before {
    content: "\f08c";
}

/*========== BASICS ==========*/
.basics header {
    display: none;
}

/*========== INTERACTIVE ==========*/
.INTERACTIVE .nav-add {
    margin-top: 1em;
    margin-bottom: 2em;
}

.INTERACTIVE .profiles article {
    padding: 2em 0;
}

.INTERACTIVE .profiles .article-container {
    display: flex;
    flex-direction: column;
}

html:not(.INTERACTIVE) .profiles .article-container {
    display: flex;
    flex-direction: row;
    column-gap: 0.2em;
    width: 25em;
    justify-content: flex-start;
    align-items: baseline;
    align-content: center;
}

html:not(.INTERACTIVE) .profiles article .profile-item {
    display: inline-block;
}

/*========== TOC ==========*/
.table-of-contents {
    page: table-of-contents;
}

@page table-of-contents {
    @top-right {
        content: none;
    }

    @bottom-left {
        content: none;
    }
}

.toc-header {
    margin-bottom: 1rem;
    border-bottom: 0.375rem solid black;
}

ol, ul {
    padding-inline-start: 0px;
}

ol, ul a {
    text-decoration: none;
}

.toc-element-level-1 {
    font-size: 0.5cm;
}

.toc-element-level-2 {
    font-size: 0.4cm;
}

.toc-element-level-1 a, .toc-element-level-2 a {
    color: black;
}

#list-toc-generated li {
    margin-left: 0;
    width: 100%;
    list-style-type: none;
}

#list-toc-generated .toc-element a::after {
    content: target-counter(attr(href), page);
}

#list-toc-generated .toc-element-level-1 {
    border-bottom: 0.0625rem solid black;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
}

#list-toc-generated {
    overflow-x: hidden;
}

#list-toc-generated .toc-element a {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

#list-toc-generated .toc-element a::after {
    background-color: white;
}

@page table-of-contents {
    @top-right {
        content: none;
    }

    @top-left {
        content: none;
    }

    @bottom-right {
        content: none;
    }

    @bottom-left {
        content: none;
    }
}

/*========== SKILLS (print only ==========*/
@media print {
    .skills .article-container {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }

    .skills .article-container article {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        margin-bottom: 0.5cm;
    }
}

/*========== COVER (print only) ==========*/
.page-break {
    break-after: page;
}

.cover-page .main-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4mm;
}

.cover-page .main-skills ul {
    display: flex;
    flex-direction: row;
    gap: 0.5cm;
    margin: 0;
    padding: 0;
}

.cover-page .main-skills .list__label {
    font-size: 14pt;
}

.cover-page .main-skills li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cover-page {
    page: cover-page;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 2cm;
}

.cover-page__main-skills {
    display: flex;
    flex-direction: row;
}

.cover-page h1 {
    text-align: center;
}

.cover-page h3 {
    text-align: center;
    font-weight: normal;
}

.cover-page .picture {
    text-align: center;
}

.cover-page__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3mm;
}

.cover-page__header .picture img {
    height: 8cm;
    width: auto;
    border-radius: 50%;
}

.cover-page__contact {
    font-size: 10pt;
    display: flex;
    flex-direction: row;
    gap: 0.7cm;
}

.cover-page__social .icon {
    font-size: 16pt;
    margin-left: 3mm;
}

.cover-page__header .summary {
    text-align: center;
    margin-top: 0.5em;
}

@page: first {

    @top-right {
        content: none;
    }

    @top-left {
        content: none;
    }

    @bottom-right {
        content: none;
    }

    @bottom-left {
        content: none;
    }
}

/*========== WIDGETS ==========*/
/* Rating */
.skill-rating {
    -webkit-print-color-adjust: exact;
    height: 20px;
    margin: 5px 0 3px;
    border: 2px solid #333;
    background: #333;
    overflow: hidden;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}

.skill-rating > div {
    height: 100%;
    border-radius: 50px;
    background-color: #FF9932 !important;
}